.body {
  background-color: #f5fffa;
}

.head1 {
  background-color: #dcdcdc;
  font-family: "Fredericka the Great", cursive;
  text-align: center;
  padding: 5px;
}

.container{
  display: flex;
  justify-content: center;
}

.container1{
  border: solid 3px #ff9000;
   padding: 8px;
  height:150px;
   display: flex;
 justify-content: flex-start;
  width: 380px;
  background: #1fa3ad;
}

.fieldname{
  font-weight: bold;
  font-family: "Coiny", cursive;
  font-size: 14px;
}
.textbox {
  font-size: 14px;
  margin-left: 3px;
  margin-bottom: 3px;
}
#futureYear {
  margin-left: 7px;
}

#age{
font-weight: bold;
color: #0707ff;
font-size: 14px;

height:21px;

}

#button {
padding: 10px;
font-size: 14px;

}

/*.cake {

  width: 25px;
  height: 25px;
  float: right;
border: solid 2px black;
}



border: solid 2px black;
.container1 {
  min-width: 645px;
}

.fieldname {

  padding: 5px;

}

#age {
  font-family: "Lemon", cursive;
  font-size: 13px;
  width: 450px;
  color: #1fa3ad;
  margin-left: 30px;
}

.textbox {

  padding: 5px;
}

#futureYear {
  margin-left: 7px;
}



#button {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20%;
  margin-right: 20%;
}

 <img class="cake" src="http://floreena.com/images/birthdayclipart7.gif" alt=""> */
